* {
    margin: 0;
    padding: 0;
}

body {
    scrollbar-width: 0;
}

.body::-webkit-scrollbar {
    display: none;
}

.header {

    background: #6baddf;

    padding: 3px 0px;

    position: sticky;

    top: 0;

    z-index: 11;

    box-shadow: 2px 3px 5px #0003;
}

.header_top {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top h1 {

    font-size: 14px;

    text-align: center;

    margin-top: 10px;

    font-weight: 600;

    color: #fff;

    margin-bottom: 0px;

    text-transform: uppercase;
}

.header_top h2 {

    font-size: 18px;
    font-weight: 600;
}

.header_top a {

    display: flex;
    justify-content: center;
    text-decoration: none;
}

.header_top span {

    color: #fff;
    font-size: 35px;
}

.match_time {

    padding: 20px 0px;
}

.match_time p {

    text-align: center;
    color: #fff;
    font-weight: 600;
    margin: 0;
}

.s_image {

    text-align: center;
}

.s_image img {

    width: 40px;
    max-height: 65px;
}

.s_image h2 {

    color: #fff;
}

.sliderSec {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10px 0px;
}

.sliderSec::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #00000078;
    width: 100%;
    height: 100%;
}

.date_sec {
    padding: 6px;
    margin: 0;
    max-width: 50%;
}

.btn_preview {
    background: transparent;
    color: #fff;
    padding: 3px 10px;
    border: 1px solid #fff;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.option_ {
    background: #365486;
    padding: 10px 0px;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}

.sec_icon {

    display: grid;
    grid-template-columns: repeat(6, 6fr);
}

.sec_icon a {

    text-align: center;

    text-decoration: none;

    margin: auto;
}

.sec_icon a span {
    color: #90a8d0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #10203b;
    border-radius: 50%;
    background: #10203b;
    margin: auto;
}

.sec_icon p {

    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

/* latest section start here  */
.latest {

    background: #10203b;

    padding: 20px 0px;

    border: none;
}

.latest h1 {

    color: #fff;

    font-size: 20px;

    text-transform: uppercase;
}

.news_slider {

    background: #6baddf;

    padding: 12px;

    border-top-left-radius: 15px;

    border-top-right-radius: 15px;

    border-radius: 15px;
}

.news_slider h1 {

    font-size: 16px;

    margin: 0;
}

.news_slider a {

    display: flex;

    align-items: center;

    justify-content: center;

    text-decoration: none;

    text-transform: uppercase;

    font-size: 12px;

    font-weight: 600;

    color: #fff;
}

.news_slider a span {}

.news_ {
    display: grid;
    grid-template-columns: repeat(6, 12fr);
    overflow: auto;
    gap: 8px;
    scrollbar-width: none;
}

.news_::-webkit-scrollbar {
    display: none;
}

.news_component {

    min-width: 250px;

    margin: 10px 0px;

    background: #7bb6e2;

    border-radius: 5px;

    overflow: hidden;
}

.news_component img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.n_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.n_content p {
    margin: 0;
    line-height: 16px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}

.n_content button {
    background: transparent;
    border: none;
    font-weight: 600;
    color: #fff;
}

.n_content button span {}

.news_component a {
    display: block;
}

.news_component h6 {
    margin: 5px 0px;
    color: #161515;
    font-size: 14px;
    font-weight: 700;
}

.bottom_content {

    padding: 9px;
}

/* latest section end here  */

/* schedule slider  */
.sc_box {
    background: #ffffff2e;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.sc_box h2 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
}

.sc_box img {
    height: 80px;
    object-fit: cover;
    margin: 10px 0px;
}

.sc_box h4 {
    color: #fff;
    font-size: 16px;
}

.sc_box a {
    text-decoration: none;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

footer {

    background: #10203b;
    padding: 14px 0px;
}

footer h1 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

footer ul li {}

footer ul li a {
    text-decoration: none;
}

footer ul li a i {
    font-size: 22px;
    color: #fff;
    /* border: 1px solid #fff; */
    height: 50px;
    width: 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #9cdcf614;
}

footer h2 {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.mobile_menu {

    background: #fff;

    padding: 10px 0px;

    position: sticky;

    bottom: 0;

    z-index: 11;

    box-shadow: -2px -3px 5px 3px #0000002b;
}

.menus_ {

    display: grid;

    grid-template-columns: repeat(5, 5fr);

    gap: 10px;
}

.menus_ a {
    text-align: center;
    text-decoration: none;
}

.menus_ a span {

    font-size: 25px;
    color: #6e6e6e;
}

.menus_ a p {
    font-size: 12px;
    color: #6e6e6e;
    margin: 0;
}

.menus_ a.active p,
.menus_ a.active span {
    color: skyblue;
}

/* schedule page start here  */
.sch_lst {
    min-height: 85vh;
}

.m_list {}

.m_list ul {
    list-style: none;
    padding: 0;
}

.m_list ul li {
    /* margin: 10px 0px; */
}

.time_ {
    border: 1px solid #00000029;
    margin: 8px 0px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000014;
}

.d_head {

    background: skyblue;
    padding: 3px 0px;
}

.d_head h1 {

    text-align: center;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
}

.time_ h6 {

    padding: 5px;

    margin: 0;

    font-weight: 700;

    font-size: 12px;

    margin: 6px 0px;
}

.icon_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 0;
}

.icon_time img {
    height: 65px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_time strong {
    display: block;
    text-align: center;
    color: #000000ab;
}

.timeL {
    text-align: center;
}

.timeL h1 {
    font-size: 20px;
    font-weight: 700;
    color: #000000ab;
}

.timeL p {
    margin: 0;
    font-size: 14px;
    color: #000000ab;
}

.btns_pre {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    padding: 8px;
    border-top: 1px solid #00000029;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.sch_lst nav {
    position: sticky;
    top: 49px;
    background: #fff;
    z-index: 11;
}

.sch_lst nav button {
    width: 50%;
    margin: 5px 0px;
    border: none !important;
    color: #6e6e6e !important;
    font-weight: 600;
    font-size: 13px;
}

.sch_lst nav button.active {
    color: #87ceeb !important;
    border-bottom: 2px solid #87ceeb !important;
}

/* schedule page end here  */

/* news page start here  */
.n_list {
    min-height: 85vh;
}

.nclist {}

.nclist ul li {}

.nclist ul {
    padding: 0;
    list-style: none;
}

.news_component a {
    text-decoration: none;
}

.nclist .news_component {
    background-color: #ffffff52;
    box-shadow: 0 0 10px #00000070;
}

.n_list {
    background-color: #041e41;
}

.offcanvas-body ul {

    list-style: none;

    padding: 0;

    margin: 0px;
}

.offcanvas-body ul li {
    margin: 5px 0px;
}

.btn_shere {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0px;
    background: transparent;
    border: none;
    font-size: 14px;
}

.btn_shere span {
    font-size: 25px;
    margin-right: 10px;
}

.offcanvas-body {
    max-height: fit-content;
}

/* news page end here  */

/* settings page start here  */
.setings_list {
    position: relative;
    background-image: url(../images/bg-2.jpg);
    min-height: 93vh;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px;
    background-attachment: fixed;
}

.setings_list::after {
    position: absolute;
    content: "";
    background: #1f547ddb;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.setings_list h1 {

    font-weight: 700;

    text-transform: capitalize;

    color: #fff;

    font-size: 20px;
}

.setings_list h2 {

    text-transform: uppercase;

    font-weight: 700;

    color: #fff;

    margin-bottom: 20px;

    font-size: 18px;
}

.setings_list ul {

    list-style: none;
    padding: 0;
}

.setings_list ul li {

    /* margin: 12px 0px; */
    border-bottom: 1px solid #ffffff29;
    padding: 12px 0px;
}

.setings_list ul li:last-child {
    border: none;
}

.setings_list ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.setings_list ul li a span {

    font-size: 26px;
    margin-right: 10px;
}

/* settings page end here  */


/* bet page start here  */
.btn_bet {
    background: #6baddf;
    color: #fff;
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
    box-shadow: 2px 3px 5px 3px #a595952b;
}

.filter_buttons {

    display: flex;

    justify-content: space-between;

    width: 100%;

    overflow: auto;

    background: #fff;

    box-shadow: 0 0 10px #00000014;
}

.btn_filters {

    min-width: fit-content;

    padding: 5px 10px;

    margin: 0px 5px;

    border: none;

    background: transparent;

    font-size: 12px;

    font-weight: 500;

    text-transform: capitalize;
}

.score_container {

    display: grid;

    grid-template-columns: repeat(4, 4fr);

    gap: 5px;

    margin: 10px 0px;

    box-shadow: 0 0 10px #00000014;

    /* padding: 5px; */
}

.score_container a {
    display: block;
    text-align: center;
    box-shadow: 0 0 10px #00000014;
    padding: 5px;
    background: #10203b;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.score_container a p {
    margin: 0;
    color: #f3eeee;
    font-size: 14px;
}

.score_container a h6 {
    margin: 0px;
}

.score_container span {
    font-size: 12px;
    color: #f3eeee;
}

.btn_filters.active {
    color: #6baddf;
    border-bottom: 2px solid #6baddf;
}

.filter_buttons::-webkit-scrollbar {
    display: none;
}

.score_container a:nth-child(1),
.score_container a:nth-child(6),
.score_container a:nth-child(11),
.score_container a:nth-child(16) {
    background-color: #10203b8a;
}

.score_container a:nth-child(n+21),
.score_container a:nth-child(2),
.score_container a:nth-child(3),
.score_container a:nth-child(4),
.score_container a:nth-child(7),
.score_container a:nth-child(8),
.score_container a:nth-child(12) {
    background-color: #6baddfc7;

}

.score_container a:nth-child(25),
.score_container a:nth-child(26) {
    background-color: #264f95a6;
}

/* bet page end here  */
.time_ h6 strong {
    color: #6baddfc7;
}


/* bet pop  */
.bet_pop_container {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000cf;
    left: 0;
    top: 0;
    z-index: 12;
    display: none;
}

.bet_pop {
    height: fit-content;
    width: 90%;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    z-index: 13;
    border-radius: 8px;
}

.amountCnt {
    border: 1px solid #ededed;
    box-shadow: 0 0 10px #00000014;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: end;
}

.amountCnt {}

.amountCnt span {
    text-align: end;
    font-size: 12px;
}

.box_Amt {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_Amt p {
    margin: 5px 0px;
    font-size: 13px;
}

.box_Amt input {
    width: 100%;
    border: 1px solid #6baddf;
    border-radius: 3px;
    padding: 0px 4px;
    text-align: end;
}

.box_Amt h6 {
    margin: 0;
    font-size: 14px;
}

.quicktAmt {
    /* margin: auto; */
    width: 100%;
    overflow: auto;
    display: flex;
    scrollbar-width: 0;
}

.btn_amt {
    border: 1px solid #0000003b;
    padding: 1px 4px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000014;
    background: #10203b;
    color: #fff;
    margin: 0px 4px;
    min-width: fit-content;
    font-size: 14px;
}

.war_limit {
    margin: 0;
    font-size: 12px;
    margin: 10px 0px;
}

.bet_pop .btn_bet {
    width: 100%;
}

.btScore {}

.btScore p {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6baddf;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.btScore span {
    font-size: 15px;
    margin: 0px 5px;
}

.invest {
    display: flex;
    justify-content: pace-between;
    align-items: center;
}

.invest p {
    color: navy;
    font-size: 9px;
    margin: 5px 5px;
}

.amtBox {
    width: 33.33%;
    padding: 5px;
}

.btn_x {

    background: transparent;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #10203b;
}

/* order page start here  */
.order_lst {
    padding: 20px;
    box-shadow: 0 0 20px #2b638d45;
    margin: 10px 0px;
    border-radius: 10px;
    background: #365486;
}

.leagueTitle {
    display: flex;
    justify-content: start;
    align-items: center;
}

.leagueTitle img {
    width: 30px;
    margin-right: 8px;
}

.leagueTitle p {
    margin: 0;
    font-size: 14px;
    color: #eae1e1;
}

.teamVs {
    display: flex;
    font-size: 14px;
}

.teamVs p {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0px 15px 0px 0px;
    color: #eae1e1;
    font-size: 10px;
}

.teamVs strong {}

.teamVs span {
    width: fit-content;
    min-width: 80px;
    color: #eae1e1;
    font-size: 12px;
}

.bit_ {
    margin: 10px 0px;
    margin-bottom: 0px;
}

.bit_ p {
    margin: 0;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

.bit_ h6 {
    background: #6baddf;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    color: #ebe0e0;
    font-size: 12px;
    margin: 0px;
}

.bit_ h6 span {
    color: #fff;
    margin-left: 5px;
    font-size: 14px;
}

.stack {
    display: flex;
    justify-content: space-between;
}

.stack p {
    color: #fff;
    margin: 5px 0px;
    font-size: 14px;
}

.stack h6 {
    color: #fff;
    margin: 0px;
}

.order_list_container {
    background-color: #10203b;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.status p {
    color: #ede3e3;
    font-size: 12px;
    margin: 0;
}

.status h6 {
    font-size: 18px;
    margin: 0;
    font-size: 14px;
    color: #3c84bb;
}

.status h6.win {
    color: #04c504 !important;
}

.status h6.lose {
    color: #d00000;
}

.sch_lst::-webkit-scrollbar {
    display: none;
}

.quicktAmt::-webkit-scrollbar {
    display: none;
}

.order_list_container .quicktAmt {

    padding-top: 10px;
}

.order_list_container .btn_amt {

    background: #6baddf;

    padding: 1px 5px;
}

.header_top span {
    font-size: 18px;
}

/* order page end here  */
/* notification page start here  */
.message {
    background: #365486;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.message span {
    font-size: 50px;
    margin: 6px;
    color: #00000087;
}

.message p {
    font-size: 12px;
    margin: 0;
    color: #bdbdbd;
}

.message h6 {
    color: #fff;
    margin: 0;
    font-size: 12px;
}

.message a {
    font-size: 12px;
}

.message.unread {
    border: 1px solid #fff;
}

/* notification page end here  */

/* ==================== deposite page start here  ================ */
.deposite-page {}

.crypto_section {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 5px;
}

.crypto_section a {
    display: block;
    text-align: center;
    box-shadow: 0 0 10px #00000014;
    padding: 5px;
    background: #10203beb;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
}

.crypto_section a h6 {

    margin: 0;

    margin-top: 3px;

    font-size: 14px;

    text-align: center;
}

.crypto_section a img {

    width: 100%;

    max-width: 40px;
}

/* topbar part start here */
.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 10px;
    margin-top: 10px;
}

.top_bar button {
    background-color: transparent;
    border: none;
}

.top_bar button i {

    color: #a09c9c;
}

.top_bar h5 {
    color: #fff;
    font-size: 20px;
}

/* topbar part end here  */

/* qr code part start here  */
.qr_box {
    background: #fff;
    height: 250px;
    width: 250px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.box_text {}

.box_text p {

    color: #6baddf;

    padding: 10px 40px;

    text-align: center;

    font-size: 12px;
}

/* qr part end here  */

/* deposite form part start here  */
.deposite_form {}

.deposite_form form {}

.deposite_form h3 {

    color: #5e5e5e;

    font-size: 14px;

    margin-top: 20px;

    margin-bottom: 10px;
}

.deposite_form input {
    background: transparent;
    color: #fff;

}

.deposite_form input:focus {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}

.deposite_form input::placeholder {
    color: #a09c9c;
}

.deposite_form h2 {

    font-size: 16px;

    color: #3F51B5;
}

.deposite_form button {

    background: transparent;

    border: none;

    color: #fff;
}

.deposite_form button i {

    color: #3F51B5;
}

.btn_ammount {

    border: 1px solid #fff !important;

    width: 100%;

    margin-top: 12px;

    font-size: 14px;

    border-radius: 5px;

    box-shadow: 0 0 10px #2220202e;

    background: #6baddf !important;
}

/* information part start here  */
.form_information {

    background: #ffffff12;

    padding: 20px 0px;

    border-radius: 10px;

    margin: 20px 0px;
}

.form_information h4 {

    color: #000000a3;

    margin: 0;

    font-size: 16px;
}

.form_information p {

    color: #3F51B5;

    margin: 0;

    font-size: 14px;

    text-align: end;
}

/* inpformation part end here  */
.btn_confirm {

    background: #1c955d !important;

    margin-top: 10px;

    font-size: 18px !important;

    padding: 5px 0px !important;
}

.btn_ammount:hover {
    color: #fff;
    background: #6baddf;
}

/* deposite form part end here  */
@media only screen and (max-width: 993px) {
    .deposite_form button {
        /* background: transparent; */
        border: none;
        color: #fff;
        padding: 0px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 426px) {
    .deposite_form button {
        /* background: #6baddf; */
        border: none;
        color: #ffffff;
        padding: 0px;
        font-size: 14px;
    }
}

.deposite-page .nav-pills {

    background: #6baddf1a;

    padding: 3px;

    border-radius: 5px;

    position: sticky;

    top: 0;

    width: 100%;

    z-index: 2;
}

.deposite-page {

    min-height: 85vh;
}

.deposite-page .nav-item {
    width: 50%;
    padding: 0px 2px;
}

.deposite-page .nav-item .nav-link {
    width: 100%;
    background: #23314a2e;
    color: #23314a;
    font-weight: 500;
}

.deposite-page .nav-item .nav-link.active {

    background: #23314a;

    color: #fff;
}

.depo_title {}

.depo_title h5 {
    font-size: 18px;
}

.bnk_box {
    text-align: center;
    max-width: 100px;
    text-align: center;
    margin: 20px auto 0px auto;
}

/* =========================== deposite page end here ================  */